html {
	position: relative;
	height: 100%;
	background-color: #eee;
}

body {
	background-color: #f8f9fa;
	height: 100%
}

.page-wrapper {}

.navbar-caption {

}

.main-navbar {
	background-color: #007bff
}

.logo {
	background-image: url("../images/logo.png");
	background-position: 50%;
	background-size: cover;
	margin: 3px 20px 0 0;
	width: 45px;
	height: 45px;
	display: inline-block;
}

.animated-icon {
	width: 30px;
	height: 30px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.animated-icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon span {
	background: #f3e5f5;
}

.animated-icon span:nth-child(1),
.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.animated-icon span:nth-child(1) {
	top: 2px;
}

.animated-icon span:nth-child(2) {
	top: 14px;
}

.animated-icon span:nth-child(3) {
	top: 26px;
}

[aria-expanded="true"] span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 2px;
	left: 5px;
}

[aria-expanded="true"] span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

[aria-expanded="true"] span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 24px;
	left: 5px;
}

.wrapper {
	padding: 20px;
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
}

.form-sign-in {
	width: 300px;
	margin: 0 auto;
}

.content {
	
	height: 100%;
}

.touch {
	cursor: pointer;
}

.main-content {
	margin: 0 0 0 50px;
	border-radius: 4px;
	background-color: #fff;
	box-sizing: border-box;
	display: block;
	padding-bottom: 10px
}

.main-caption {
	background-color: #28a745;
	color: #fff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 10px 15px
}

#order {
	width: 200px
}

.page-link {
	color: #28a745;
}

.page-item.active .page-link {
	background-color: #28a745;
	border-color: #28a745;
}

.form-create-order {
	margin: 0 auto;
}

.form-create-order .form-control,
.form-create-order .custom-select {
	width: 300px
}

#map {
	width: 600px;
	height: 400px
}

#lastAdress {
	border-color: #dc3545;
}

#firstAdress {
	border-color: #007bff;
}

.top-mg {
	margin-top: 50px;
}

#addtl-inf {
	resize: none;
	height: 150px
}

.thead-green {
	background-color: #28a745;
	color: #fff;
}

.thead-green th {
	border-color: #28a745;
}

.ready {
	background-color: #ffc107;
	font-weight: bold
}

.process {
	background-color: #17a2b8
}

.success {
	background-color: #28a745
}

.fail {
	background-color: #dc3545
}

.process,
.success,
.fail {
	color: #fff;
	font-weight: bold;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}