* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {	
	height: 100%;
	margin: 0 auto;
	font-family: -apple-system,
				 BlinkMacSystemFont,
				 SegoeUi,
				 Roboto,
				 Oxygen,
				 Ubuntu,
				 Cantarell,
				 Fira,
				 Sans,
				 Droid Sans,
				 Helvetica Neue,
				 sans-serif;
}

button:active,
button:focus,
input:focus {
	outline: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #28d4ff;
	transition: color .3s ease;
}

a:hover {
	text-decoration: none;
	transition: color .3s ease;
	color: #f41359;
}


.content-wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 120px;
	background-color: #ebebeb
}

.wrapper, .content__box {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 50px auto;
}

.header {
	width: 100%;
	height: 800px;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-blend-mode: overlay;
	background-color: #00000080;
}

.menu__head {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #262838;
	padding: 0 20px
}

.menu__motto {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	width: 50%;
	margin: 0 auto;
}

.logo {
	width: 130px;
	margin: 10px 0;
}

.menu__info {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	color: #28d4ff;
	width: 50%
}

.menu__phone,
.menu__mail {
	color: #28d4ff;
	margin: 0 10px;
}

.menu__caption {
	text-align: right;
	margin: 230px auto 20px;
	color: #fff;
}

.menu_top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	background-color: #262838d6;
	margin: 0;
	width: 100%
}

.menu__item {
	padding: 15px 15px;
	font-size: 22px;
}

.menu__phone,
.menu__mail {
	font-size: 18px
}

.cpt {
	text-align: center;
	font-size: 30px;
	margin: 20px 0
}

.button {
	border: none;
	padding: 10px 20px;
	background-color: #262838;
	color: #28d4ff;
	border-radius: 10px;
	font-size: 18px;
	transition: background-color .3s ease, color 1s ease;
}

.button:hover {
	background-color: #28d4ff;
	color: #fff;
	transition: background-color .3s ease, color 1s ease;
}

.menu__btn {
	display: block;
	font-size: 30px
}

.tb {
	border: none;
	padding: 10px 20px;
	/*background: #262838;*/
	border-radius: 10px;
	font-size: 18px;
}

.main {
	width: 100%;
	margin-bottom: 0px;
}

.content {
	padding: 10px 0 0;
	width: 100%
}

.types {
	width: 100%;
}

.types__cpt {
	text-align: center;
}

.types__name {
	font-size: 24px;
	text-align: center;
}

.types__box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 auto
}

.types__item {
	width: 550px;
	margin: 20px 10px;
	box-shadow: 0 0 20px #ddd;
	border-radius: 5px;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
}

.types__img {
	align-self: center;
	display: block;
}
 
.types__price {
	font-size: 20px;
	color: #f41359;
	font-weight: bold;
	text-align: center;
	width: 100%;
	text-align: center;
	display: block;
}

.types__info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.types__cpt {
	margin: 0;
}

.types__mark {
	display: none;
}

.types__text {
	font-size: 20px;
	width: 100%;
	
}

.types__order {
	margin: 10px auto 0;
	display: block;
}

/*.active{
	width: 200px;

}*/

.sf {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #fff;
	padding: 0 0 50px
}

.sf__bg {
	background: #262838;
}

.sf__motto {
	text-align: center;
	margin: 20px 10px 20px 0 ;
	width: 40%;
}

.sf__cpt {
	font-size: 28px
	margin: 10px 0;
}

.sf__text {
	font-size: 25px
}

.sf__form {
	background-color: #34364b;
	margin: 20px 10px 0;
	padding: 30px 15px 0
}

.sf__tb {
	display: block;
	margin: 15px auto;
	width: 80%;
	background-color: #fff;
}

.sf__btn {
	display: block;
	margin: 20px auto 10px;
	width: 80%;
	padding: 20px 20px
}

.sfl {
	color: #fff;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.sfl__cpt {
	color: #f41359
}

.sfl__desc {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 40px 0;
}

.sfl__items {
	display: flex;
	width: 250px;
	margin: 20px 10px;
}

.sfl__icon {
	color: #28d4ff
}

.sfl__text {
	margin: -5px 0 0 10px;
	font-size: 15px
}

.sfl__lf {
	background-color: #34364b;
	margin: 40px auto 30px;
	padding: 30px 15px 0;
}

.sfl__tb {
	display: block;
	margin: 15px 5px;
	width: 210px;
	min-width: 200px;
	background-color: #fff;
}

.sfl__btn {
	color: #f41359;
	font-size: 20px;
	transition: background-color .3s ease, color 1s ease;
}

.button:hover {
	background-color: #f41359;
	color: #262838;
	transition: background-color .3s ease, color 1s ease;
}

.sfl__politic {
	text-align: center;
}



.furniture__box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 60px 0 0 
}

.furniture__item {
	height: 100%
}

.furniture__img {
	display: block;
	height: 150px;

}

.furniture__name {
	display: block;
	text-align: center;
}

.frbl {
	padding: 20px 15px 20px;
}

.frbl__cpt {
	color: #fff;
	margin: 30px auto
}

.frbl__imgs {
	width: 30%;
	margin: 0 auto;
}

.frbl__text {
	margin: 50px 0 40px;
	font-size: 20px;
	color: #fff
}

.frbl__box .slick-dots li button:before {
    font-size: 15px!important;
    margin: 0 !important;
}

.frbl__box .slick-dots li {
    margin: 0 !important;
}



.about {
	
}

.works {

}

.works__cpt {

}

.works__arrow {
	position: absolute;
	top: 50%;
	width: 20px;
	z-index: 1000;
	cursor: pointer;
}

.right {
	right: -40px;
}

.left {
	left: -40px;
}

.works__box {
	width: 80%;
	margin: 60px auto;
	position: relative;
}

.works__img {
	padding: 0 15px;
	width: 100%
}


.about__cpt {
	text-align: center;
	font-size: 30px;
	margin: 20px 0
}

.about__box {
	display: flex;
	align-items: flex-start;
}

.about__img {
	width: 300px;
	margin: 0 20px 0;
}

.about__text {
	font-size: 20px;
	margin: 20px auto;
	width: 90%;
}

.colors__cpt {

}

.colors__box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}

.colors__text {
	margin: 0 auto;
	font-size: 20px;
	margin: 40px 0;
}

.colors__item {
	margin: 10px;
}

.colors__img {
	margin: 0 0 20px;
}

.colors__desc {
	font-size: 20px;
	text-align: center;
}

.reviews__cpt {
	
}

.reviews__box {
	
}

.reviews__item {
	
}

.reviews__name {
	font-size: 25px;
	text-align: center;
	margin: 40px 0 50px;
}

.reviews__text {
	font-size: 20px;
	width: 70%;
	margin: 0 auto
}

.footer {
	background-color: #202020;
	width: 100%;
	margin: 40px 0 0;
	padding: 20px 0
}

.contacts {
	color: #ddd;
	margin: 0 auto;
}

.contacts__links {
	display: flex;
	align-items: center;
}

.contacts__block {
	display: flex;
	align-items: center;
	flex: 1;
	margin: 1%;
}

.contacts__icon {
	margin: 0 10px 0 0;
	color: #28d4ff
}

.contacts__info {
	
}

.contacts__cpt {
	color: #28d4ff;
}

.contacts__text {
	font-size: 13px;
	display: block;
}

.contacts__cont {
	height: 500px
}

.contacts__map {
	height: 95%;
	width: 90%;
	margin: 0 auto;
}

.contacts__other {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contacts_potics {
	transition: color .3s ease;
}

.footer__logo {

}

.bd-example,
.tab-content {
	width: 100%;
	margin: 50px 0 ;
	vertical-align: top;
}
.slider h3 {
	background: #000;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.tab-pane {
	display: flex;
	flex-direction: column;
	border: none!important;
}

.nav-link,
.nav-link:hover,
.frbl__links,
.nav-link.active {
	border: none!important;
	background-color: transparent!important;
	font-size: 25px
}

.nav-link {
	margin: 0 20px;
}

.nav-link.active {
	color: #f41359!important;
}


.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    display: block;
}

.white-popup-block {
	background-color: #fff;
	border: 1px solid #5dbad2;
	border-radius: 6px;
	padding: 24px;
	display: block;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

.white-popup-block form input {
	display: inline-block;
	padding: 20px;
	margin: 10px 0;
	border: 1px solid #000;
}

.white-popup-block h3 {
	font-size: 32px;
}

.white-popup-block .btn-popup-form {
	padding: 20px 30px;
	border-radius: 10px;
	width: 90%;
	margin-top: 10px;
}

.white-popup-block form .hide-input-attr {
	display: none;
}

.success-form {
	text-align: center;
	padding-top: 10px;
	color: #fff;
	display: none;
}

.success-form-popup {
	color: #000;
}

.hider {
	display: block;
}

@media screen and (max-width: 1024px) {
	
	.colors__text {
		font-size: 18px;
		width: 90%;
		margin: 40px auto
	}

	.about__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.menu__item {
		padding: 10px 10px;
		font-size: 18px;	
	}

	.sf__btn {
		margin: 20px auto 10px;
		width: 80%;
		padding: 15px
	}

	.sf__motto {
		margin: 20px 10px 20px 0 ;
		width: 80%;
	}

	.sfl__desc {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	.sfl__items {
		width: 50%;
		margin: 10px 0px;
		font-size: 20px
	}

	.sfl__lf {
		width: 80%
	}

	.sfl__tb {
		margin: 10px 0;
	}

	.contacts {
		color: #ddd;
		margin: 0 auto;
	}

	.contacts__links {
		align-items: flex-start;
		flex-direction: column;
		min-width: 300px;
		padding: 20px;
	}

	.contacts__block {
		align-items: center;
	}
	
	.sfl__text {
		width: 100%
	}

	.contacts__cont {
		height: 400px
	}

	.contacts__map {
		height: 90%
	}
}

@media screen and (max-width: 768px) {

	.hidden {
		display: none;
	}

	.hider {
		display: none;
	}

	.frbl__imgs {
	    width: 50%;
	    margin: 0 auto;
	}

	.types__mark {
		display: block;
		position: absolute;
		top: 20px;
		right: 10%;
		border: 3px solid #28d4ff;
		border-radius: 50%;
		width: 30px;
		z-index: 1000;
		text-align: center;
		color: #28d4ff
	}

	.menu__motto {
		width: 80%
	}

	.menu_top {
		display: none;
	}

	.works__arrow {
		top: 45%;
	}

	.right {
		right: -25px;
	}

	.left {
		left: -25px;
	}


	.cpt {
		font-size: 28px;
	}

	.tb, .button  {
		font-size: 16px;
	}

	.sf__text {
		font-size: 20px
	}

	.reviews__name {
		margin: 20px 0 30px;
	}

	.about__text {
		font-size: 20px;
		margin: 10px 0 0
	}

	.menu__caption {
		height: 50%;
	}

	.menu__phone > span,
	.menu__mail > span {
		font-size: 14px
	}

	.colors__text {
		font-size: 20px;
	}

	.works__box {
		width: 90%;
	}

	.sf {
		padding: 0 0 50px 
	}


	.nav-link {
		font-size: 20px!important;

	}

	.contacts__icon {
		
	}

}

@media screen and (max-width: 425px) {
	.menu__head {
		padding: 0 10px;
	}

	.menu__info {	    
	    width: 100%;
	}

	.menu__motto {
		align-items: center;
		width: 90%;
	}

	.works__box {
		width: 90%;
	}

	.types__item {
		width: 90%;
		margin: 20px auto;
	}

	.menu__caption {
		font-size: 28px;
		text-align: center;
	}

	.cpt {
	    font-size: 25px;
	}

	.reviews__text,
	.about__text,
	.colors__text {
	    font-size: 18px;
	}

	.frbl__text {
		font-size: 18px;
	}

	.sfl__items {
		width: 100%;
		margin: 10px 0px;
		font-size: 20px
	}

	.sfl__tb {
		margin: 10px 0;
		width: 100%;
	}


	.sfl__text {
		width: 100%
	}

	.nav-link {
		font-size: 18px!important;
		width: auto;
	}


	.frbl__box .slick-dots li button:before {
	    font-size: 15px!important;
	    margin: 0px;
	}

	.nav-link {
	    margin: 0
	}

	.frbl__imgs {
		width: 50%
	}

	.tb,
	.button {
		width: 90%
	}

	.contacts__other {
		flex-direction: column;
	}
}

@media screen and (max-width: 425px) {
	.frbl__box .slick-dots li button:before {
	    font-size: 12px!important;
	    margin: 0px;
	}
}

.mfp-content > .types__text  {
	display: block;
}